.cont {
    width: 340px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgba(0 0 0 / 30%);
    justify-content: center;
    margin:  10px auto;
    color: #fff;
    background-color: #333;
}
.daily-items {
    width: 100px;
    display: inline-flex;

    align-items: center;
    margin: 20px 50px  20px 20px;
}
.day {
margin: 2px 0 10px 0;
font-weight: 600;
}
.left {
width:100px
}
.descriptions {
margin: 0 10px 0 2px
}
.min-max {
    margin-right: -10px;
}

.icon-small {
    width: 30px;
margin-right: -50px;
margin-left: 10px;
}

